@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --azul: #4B88A2;
  --vermelho: #BB0A21;
  --poppins: 'Poppins', sem serifa;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
}

body {
  overflow-x: hidden;
}

header.cabeçalho {
  max-width: 100%;
  height: 180px;
}

nav.n1 {
  background-color: var(--azul);
  box-shadow: 0px 0px 7px var(--azul);
  width: 100%;
  height: 63px;
  display: flex;
}

div.funcoes {
  display: flex;
  width: 90%;
  height: 63px;
  margin: auto;
}

div.PesuisaConta {
  display: flex;
  margin: 8px 0px 0px 3px;
}

div.barraDePesquisa {
  background: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 2px 2px 2px;
  width: 409px;
  height: 20px;
  margin-top: 4px;
  margin-left: 10px;
}

input#inputTexto {
  font-size: 18px;
  border: none;
  outline: none;
  padding: 5px;
  width: 400px;
}

i.iPesquisa {
  color: var(--azul);
  font-size: 25px;
}

div.lista {
  padding: 10px;
  background: white;
  border-radius: 0 0 7px 7px;
  display: none;
  max-height: 200px;
  overflow-y: auto;
}

.icons {
  display: flex;
}

div.teste {
  margin-left: 760px;
}

span.conta {
  font-size: 50px;
  color: #324b52;
  margin-left: 5px;
}

span.fone {
  font-size: 50px;
  color: #324b52;
}

span.bolsa {
  font-size: 50px;
  color: #324b52;
}

nav.n2 {
  background-color: var(--vermelho);
  width: 100%;
  max-height: 81px;
  margin: 15px auto;
  display: flex;
}

div.menuLocalizacao {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

span.distancia {
  font-size: 50px;
  color: #ffffff;
  margin: 3px 0px 0px 0px;
}

/* nav.menu {
  margin: 0px 0px 0px 217px;
  width: 473px;
}

nav.menu ul {
  display: flex;
}

nav.menu li {
  list-style-type: none;
  text-align: justify;
  width: 473px;
  margin-top: 14px;
}

nav.menu a {
  color: #ffffff;
  text-decoration: none;
  font-family: var(--poppins);
  font-weight: bold;
} */

section.cards {
  display: flex;
  max-width: 90%;
  margin: 20px auto;
  background-color: red;
  padding: 10px;
}

article.artigoCards {
  background-color: green;
  display: block;
  max-width: 100%;
}

div.imgCards {
  display: block;
}

.figureCards {
  background-image: url("https://img.freepik.com/fotos-premium/suplementos-esportivos-e-halteres-fechados-em-um-fundo-escuro-composicao-plana-com-proteina-e_179738-951.jpg?w=2000");
}

figure.figureCards img {
  width: 100%;
  height: 50px;
}
