@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');

:root {
  --azul: #4B88A2;
  --vermelho: #BB0A21;
  --poppins: 'Poppins', sem serifa;
  --montserrat: 'Montserrat', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
}

body {
  overflow-x: hidden;
}

header.cabeçalho {
  max-width: 100%;
  height: 180px;
}

nav.n1 {
  background-color: var(--azul);
  box-shadow: 0px 0px 7px var(--azul);
  width: 100%;
  height: 63px;
  display: flex;
}

div.funcoes {
  display: flex;
  width: 100%;
  height: 63px;
}

div.PesuisaConta {
  display: flex;
  margin: 8px 0px 0px 254px;
}

div.barraDePesquisa {
  background: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 2px 2px 2px;
  width: 409px;
  height: 20px;
  margin-top: 4px;
  margin-left: 10px;
}

input#inputTexto {
  font-size: 18px;
  border: none;
  outline: none;
  padding: 5px;
  width: 400px;
}

i.iPesquisa {
  color: var(--azul);
  font-size: 25px;
}

div.lista {
  padding: 10px;
  background: white;
  border-radius: 0 0 7px 7px;
  display: none;
  max-height: 200px;
  overflow-y: auto;
}

.icons {
  display: flex;
}

div.teste {
  margin-left: 600px;
}

span.conta {
  font-size: 50px;
  color: #324b52;
  margin-left: 5px;
  cursor: pointer;
}

a.home {
  text-decoration: none;
}

span.home {
  font-size: 50px;
  color: #324b52;
  cursor: pointer;
}

span.fone {
  font-size: 50px;
  color: #324b52;
  cursor: pointer;
}

span.bolsa {
  font-size: 50px;
  color: #324b52;
  cursor: pointer;
}

nav.n2 {
  background-color: var(--vermelho);
  width: 100%;
  max-height: 81px;
  margin: 15px auto;
  display: flex;
}

div.menuLocalizacao {
  display: flex;
  width: 97%;
  margin: 0 auto;
}

span.distancia {
  font-size: 50px;
  color: #ffffff;
  margin: 3px 0px 0px 0px;
  cursor: pointer;
}

section.cards {
  display: flex;
  max-width: 66%;
  margin: 30px auto;
  overflow:hidden;
}

article.artigoCards {
  margin: 10px;
}

div.figureCards {
  background-image: url("https://img.freepik.com/fotos-premium/suplementos-esportivos-e-halteres-fechados-em-um-fundo-escuro-composicao-plana-com-proteina-e_179738-951.jpg?w=2000");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

div.bodyCards {
  width: 95.5%;
  text-align: justify;
  margin: 0px auto;
  box-shadow: 0px 0px 20px #f3f3f3;
  padding: 10px;
}

div.bodyCards h2 {
  color: #504f4f;
  font-family: var(--montserrat);
  letter-spacing: 2px;
}

div.bodyCards  p {
  color: #504f4f;
  font-family: var(--montserrat);
  letter-spacing: 1px;
  font-size: .9rem;
  margin: 2px 0px 10px 0px;
}

a.maisCards {
  color: #2f5565;
  font-family: var(--poppins);
  text-decoration: none;
  font-size: .9rem;
  font-weight:  bolder;
}

a.maisCards:hover {
  text-decoration: underline;
}

div.cardSlide {
  display: flex;
  margin: 20px auto;
  width: 97%;
  height: 500px;
  text-align: center;
  align-items: center;
}

div.main {
  width: 90%;
  height: 300px;
  margin: 20px auto;
  box-shadow: 0px 0px 3px grey;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}

img.slide {
  width: 100%;
  height: 100%;
  transition: 1s;
  position: absolute;
}

div.nav {
  text-align: center;
}

div.nav button {
  font-size: 25px;
  padding: 5px;
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.162);
  border: none;
  text-align: center;
  align-items: center;
}

span.prev {
  font-weight: bolder;
  cursor: pointer;
}

span.next {
  cursor: pointer;
}

section.carrosselSlide {
  background-color: var(--azul);
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  align-items: center;
}

div.wrapper {
  width:70%;
  margin: 20px auto;
  position: relative;
  display: flex;
  align-items: center;
}

div.wrapper i {
  height: 46px;
  width: 46px;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  line-height: 46px;
  background-color: #fff;
  border-radius: 50%;
}

div.wrapper i:last-child {
  left: 1110px;
  display: none;
}

div.wrapper div.carousel {
  font-size: 0px;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  scroll-behavior: smooth;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

div.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

div.carousel.dragging img {
  pointer-events: none;
}

div.carousel img {
  height: 340px;
  object-fit: cover;
  margin-left: 20px;
  width: calc(100% / 3);
  border-radius: 13px;
}

div.carousel img:first-child {
  margin-left: 0px;
}

/* TELA DE VENDAS */

section.telaVendas {
  max-width: 97%;
  height: 650px;
  margin: 20px auto;
  display: flex;
  box-shadow: 2px 2px 4px grey;
}

div.imgVenda {
  width: 60%;
  height: 100%;
  position: relative;
}

div.imgVenda img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

div.imgPVenda {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  margin: 10px;
  box-shadow: 0px 0px 2px rgb(124, 124, 124);
}

div.imgPVenda img {
  margin-bottom: 5px;
}

div.bodyVenda {
  width: 40%;
  height: 100%;
}

div.descricaoVenda {
  padding: 10px;
  display: flex;
  text-align: left;
  align-items: baseline;
  position: relative;
}

div.textDescricao h3 {
  text-align: left;
  align-items: center;
  color: var(--azul);
  margin: 0px 10px;
  font-family: var(--poppins);
}

div.icon {
  text-align: center;
  align-items: center;
}

div.icon i.i1 {
  color: var(--vermelho);
  font-size: 1.5rem;
  font-weight: lighter;
  cursor: pointer;
}

div.icon i.i2 {
  color: var(--vermelho);
  font-size: 1.5rem;
  cursor: pointer;
}

div.icon i.i1:hover {
  font-weight: bolder;
  cursor: pointer;
}

div.starDescricao {
  margin-left: 20px;
  margin-top: 10px;
  text-align: left;
  cursor: pointer;
}

div.starDescricao i {
  color: #ffffff;
  font-weight: lighter;
  cursor: pointer;
}

div.starDescricao i:hover {
  color: yellow;
  font-weight: bolder;
  cursor: pointer;
}

div.preco {
  margin-top: 10px;
  text-align: left;
  display: flex;
  align-items: center;
}

div.preco i {
  color: var(--vermelho);
  font-size: 1.5rem;
  margin-right: 10px;
}

div.preco span {
  color: #324b52;
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--montserrat);
}

div.modelos {
  text-align: left;
  padding: 20px;
}

div.modelos p {
  text-align: left;
  color: #324b52;
  margin-bottom: 10px;
  font-family: var(--montserrat);
}

div.imgModelos {
  text-align: left;
  width: 100%;
  display: flex;
  height: 60px;
}

div.imgModelos img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  border: 2px solid black;
}

div.tamanho {
  text-decoration: none;
  border: none;
  margin-top: 20px;
}

div.tamanho span {
  background-color: #d5d5d5;
  border-radius: 50%;
  margin-left: 15px;
  padding: 10px;
  cursor: pointer;
}

div.tamanho span:hover {
  border: 2px solid var(--vermelho);
  margin-left: 12px;
  cursor: pointer;
}
div.final {
  padding-left: 20px;
  text-align: left;
}

div.comprar {
  display: flex;
}

div.comprar button {
  border: 1px solid white;
  background-color: var(--vermelho);
  color: white;
  padding: 10px;

  cursor: pointer;
}

button.b1 {
  margin-right: 10px;
  font-weight: bold;
  font-family: var(--montserrat);
  letter-spacing: 2px;
  text-transform: uppercase;
}

div.textoFinal {
  margin-top: 10px;
  text-align: left;
  align-items: baseline;
}

div.textoFinal p {
  font-family: var(--montserrat);
  color: #324b52;
}
