@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');

:root {
  --azul: #4B88A2;
  --vermelho: #BB0A21;
  --poppins: 'Poppins', sem serifa;
  --montserrat: 'Montserrat', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
}

body {
  overflow-x: hidden;
}

header.cabeçalho {
  max-width: 100%;
  height: 180px;
}

nav.n1 {
  background-color: var(--azul);
  box-shadow: 0px 0px 7px var(--azul);
  width: 100%;
  height: 63px;
  display: flex;
}

div.funcoes {
  display: flex;
  width: 90%;
  height: 63px;
  margin: auto;
}

div.PesuisaConta {
  display: flex;
  margin: 8px 0px 0px 3px;
}

div.barraDePesquisa {
  background: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 2px 2px 2px;
  width: 409px;
  height: 20px;
  margin-top: 4px;
  margin-left: 10px;
}

input#inputTexto {
  font-size: 18px;
  border: none;
  outline: none;
  padding: 5px;
  width: 400px;
}

i.iPesquisa {
  color: var(--azul);
  font-size: 25px;
}

div.lista {
  padding: 10px;
  background: white;
  border-radius: 0 0 7px 7px;
  display: none;
  max-height: 200px;
  overflow-y: auto;
}

.icons {
  display: flex;
}

div.teste {
  margin-left: 760px;
}

span.conta {
  font-size: 50px;
  color: #324b52;
  margin-left: 5px;
}

span.fone {
  font-size: 50px;
  color: #324b52;
}

span.bolsa {
  font-size: 50px;
  color: #324b52;
}

nav.n2 {
  background-color: var(--vermelho);
  width: 100%;
  max-height: 81px;
  margin: 15px auto;
  display: flex;
}

div.menuLocalizacao {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

span.distancia {
  font-size: 50px;
  color: #ffffff;
  margin: 3px 0px 0px 0px;
}

/* nav.menu {
  margin: 0px 0px 0px 217px;
  width: 473px;
}

nav.menu ul {
  display: flex;
}

nav.menu li {
  list-style-type: none;
  text-align: justify;
  width: 473px;
  margin-top: 14px;
}

nav.menu a {
  color: #ffffff;
  text-decoration: none;
  font-family: var(--poppins);
  font-weight: bold;
} */

section.cards {
  display: flex;
  max-width: 90%;
  margin: 0px auto;
}

article.artigoCards {
  display: block;
  max-width: 100%;
  margin: 10px;
}

div.imgCards {
  display: block;
}

div.figureCards {
  background-image: url("https://img.freepik.com/fotos-premium/suplementos-esportivos-e-halteres-fechados-em-um-fundo-escuro-composicao-plana-com-proteina-e_179738-951.jpg?w=2000");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

div.bodyCards {
  width: 95.5%;
  background-color: #4b88a24f;
  text-align: justify;
  margin: 0px auto;
  box-shadow: 0px 0px 20px #f3f3f3;
  padding: 10px;
}

div.bodyCards h2 {
  color: #504f4f;
  font-family: var(--montserrat);
  letter-spacing: 2px;
}

div.bodyCards  p {
  color: #504f4f;
  font-family: var(--montserrat);
  letter-spacing: 1px;
  font-size: .9rem;
  margin: 2px 0px 10px 0px;
}

a.maisCards {
  color: #2f5565;
  font-family: var(--poppins);
  text-decoration: none;
  font-size: .9rem;
  font-weight:  bolder;
}

a.maisCards:hover {
  text-decoration: underline;
}

div.cardSlide {
  display: flex;
  margin: 20px auto;
  width: 90%;
  height: 500px;
  text-align: center;
  align-items: center;
}

div.main {
  width: 90%;
  height: 500px;
  margin: 20px auto;
  box-shadow: 0px 0px 3px grey;
  position: relative;
  overflow: hidden;
}

img.slide {
  width: 100%;
  height: 100%;
  transition: 1s;
  position: absolute;
}

div.nav {
  text-align: center;
}

div.nav button {
  font-size: 25px;
  padding: 5px;
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.162);
  border: none;
  text-align: center;
  align-items: center;
}

span.prev {
  font-weight: bolder;
}

/* div.carrossel {
  box-shadow: 2px 2px 4px black;
  overflow: hidden;
  height: 500px;
  width: 500px;
  margin: 20px auto;
}

div.container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

div.container img {
  object-fit: cover;
  height: 500px;
  width: 500px;
} */

section.carrosselSlide {
  background-color: var(--azul);
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  align-items: center;
}

div.wrapper {
  width: 90%;
  margin: 20px auto;
  position: relative;
  display: flex;
  align-items: center;
}

div.wrapper i {
  height: 46px;
  width: 46px;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  line-height: 46px;
  background-color: #fff;
  border-radius: 50%;
}

div.wrapper i:last-child {
  left: 1110px;
  display: none;
}

div.wrapper .carousel {
  font-size: 0px;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  scroll-behavior: smooth;
}

div.carousel {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

div.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

div.carousel.dragging img {
  pointer-events: none;
}

div.carousel img {
  height: 340px;
  object-fit: cover;
  margin-left: 20px;
  width: calc(100% / 3);
  border-radius: 13px;
}

div.carousel img:first-child {
  margin-left: 0px;
}

